/* Monlam Tibetan Font */
@font-face {
  font-family: 'MonlamTibetan';
  src: url('http://127.0.0.1:8000/fonts/MonlamTBslim.eot'); /* IE9 Compat Modes */
  src: url('http://127.0.0.1:8000/fonts/MonlamTBslim.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://127.0.0.1:8000/fonts/MonlamTBslim.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://127.0.0.1:8000/fonts/MonlamTBslim.woff') format('woff'), /* Modern Browsers */
       url('http://127.0.0.1:8000/fonts/MonlamTBslim.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://127.0.0.1:8000/fonts/MonlamTBslim.svg#MonlamTibetan') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
